body{
    font-family: 'Poppins', sans-serif;

}
h1{
    font-size: 40px;
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half_width img{
    width: 100%;
}
.three_box{
    width: 80%;
    
}
.three_box img{
    width: 100%;
}
.thirdpart{
    background-color: aquamarine;
    width: 500px;
}
